
    
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tabs-img">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button tab="restaurant">
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-label>Restau</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="product">
        <ion-icon name="fish-outline"></ion-icon>
        <ion-label>Produits</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="getBasketlength()" tab="basket">
        <ion-icon name="basket-outline"></ion-icon>
        <ion-label>Panier</ion-label>
        <ion-badge>{{qte}}</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  

