<ion-content>
  <swiper [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true" effect="fade" [scrollbar]="{draggable:true} " >
    <ng-template swiperSlide>
      <app-carousel 
      libelle="Coucou" 
      imgPath="https://st.depositphotos.com/2729617/3554/i/950/depositphotos_35542395-stock-photo-baot-at-the-beach.jpg">
      </app-carousel>
    </ng-template>
    <ng-template swiperSlide>
      <app-carousel 
      libelle="Coucou" 
      imgPath="https://images.boats.com/resize/wp/2/files/2021/03/Bowrider.jpg">
      </app-carousel>
    </ng-template>
  </swiper>
