<app-basket></app-basket>
<div class="ion-page" id="main-content">
<ion-accordion-group>
  <ion-accordion  *ngFor="let categorie of categorieList ">
    <ion-item slot="header" color="blue">
      <ion-label> {{categorie.name}}</ion-label>
    </ion-item>
    <ion-button expand="block" 
                size="default" color="blue" 
                class="product-item" (click)="presentToast('top'); toggleMenu();addToBasket(product);" 
                slot="content" *ngFor="let product of getCatProduct(categorie)">

        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <img class="ion-align-items-start" src="{{product.icon}}" alt="icon produit "/>
            </ion-col>
            <ion-col class="ion-text-start">
              <div>{{product.name}}</div>
              <ion-badge color="danger" *ngIf="product.sale">
                promo
              </ion-badge>
            </ion-col>
            <ion-col size="auto" class="ion-text-end">
              <div>{{product.price}}€</div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-button>
  </ion-accordion>
</ion-accordion-group>
</div>