<ion-content>
  <ion-title class="titre ion-text-center">Me Contacter</ion-title>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/ressources/img_contact_thibault.png" alt="Thibault_contact_profile"></ion-img>
      </ion-col>

      <ion-col>
        <div class="ion-text-center poeme">
          Qu’il est chaud le soleil<br>
          Quand nous sommes en<br>
          vacances<br>
          Y a d’la joie, des hirondelles<br>
          C’est le sud de la France <br>
          Papa bricole au garage <br>
          Maman lit dans la chaise <br>
          longue <br>
          Dans ce joli paysage <br>
          Moi, je me balade en tongs<br> 
          
          Que de bonheur ! <br>
          Que de bonheur !<br>
        </div>
      </ion-col>
    </ion-row>
  

    <ion-row>
      <ion-col>
        <div class="ion-text-center contact">
            06.63.99.99.78<br>
            lebateauthibault@gmail.com,<br>
            www.facebook.com/lebateauthibault
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>