@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

ion-title
{
  padding-top: 10px;
  font-size: 25px;
  padding-bottom: 15px;
  font-family: 'Roboto';
}

ion-toolbar {
    --background: #077c76;
    --color: white;
  }

  .list-items{
    background-color: transparent;
  }
  
  ion-item
  {
    font-weight: 300;
    color: white;
    background-color: #D79708;
    margin: 0 10% ;
    margin-bottom: 10px;
    border-radius: 2%;
  }

  ion-button ion-label{
    font-size: 16px;
  }
  .vide{
    font-size: 20px;
    color: #077C76;
    margin-top: 50%;
    font-family: 'roboto';
    text-align: center;
  }
  
  ion-button {
    --color : white;
    --border-color: white;
  }