<div class="ion-page" id="main-content">
  <ion-content>
    <ion-title class="titre ion-text-center">Le bateau de Thibault</ion-title>
    
        <ion-list lines="none" color="orange">
          <ion-item color="blue">
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item color="blue">
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item color="blue"> 
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item lines="none" color="blue">
            <ion-label>Item</ion-label>
          </ion-item>
        </ion-list>
      
  </ion-content>
</div>
