

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

ion-title
{
  padding-top: 10px;
  font-size: 30px;
  padding-bottom: 15px;
  font-family: 'Imperial Script', cursive;
  color: #077C76;
  text-shadow: 0px 1px 1px #077C76;
}

ion-img{
  width: 50%;
  margin: auto;
  display: block;
  filter: drop-shadow(1px 1px 0.5px #077C76);
  padding-bottom: 25px;
}

.list-items{
  background-color: transparent;
}

ion-item
{
  font-weight: 300;
  color: white;
  background-color: #D79708;
  margin: 0 10% ;
  margin-bottom: 10px;
  border-radius: 2%;
}

ion-button ion-label{
  font-size: 16px;
}

ion-button {
  --color : white;
  --border-color: white;
}

ion-select{
  --placeholder-opacity : 1;
  --placeholder-color : white;
}

.buttonvalider{
  --border-color: white;
}

.contact{
  font-weight: 100;
  font-style: italic;
  padding-bottom: 10px;
}
ion-icon{
  padding-right: 8px;
}

.product-item {
    color:white;
    background: #D79708;
}

ion-accordion ion-item{
    background: #077c76;    
    color:white;
}
      
ion-align-items-start{
    align-items: flex-start;
}

ion-align-items-end{
  align-items: flex-end;
}

ion-text-start{
    align-items: flex-start;
}

img{
    width: 20px;
    height: 20px;
}