<div class="ion-page" id="main-content">
  <ion-content>
    <ion-title class="titre ion-text-center">Le bateau de Thibault</ion-title>
    
        <ion-list *ngFor="let produit of panierList" lines="none" color="orange" class="list-items">
          <ion-item color="blue">
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <img class="ion-align-items-start" src="{{produit.icon}}" alt="icon produit "/>
                </ion-col>
                <ion-col class="ion-text-start">
                  <div>{{produit.name}} x {{produit.quantite}}</div>
                </ion-col>
                <ion-col size="auto" class="ion-text-end">
                  <div>{{produit.price * produit.quantite}}€</div>
                </ion-col> 
              </ion-row>
              <ion-row>
                <ion-col class="ion-align-items-end">
                  <ion-button shape="round" fill="outline" (click)="addToBasket(produit);refresh()">
                    <ion-icon slot="end" name="add-outline"></ion-icon>
                  </ion-button>
                  <ion-button shape="round" fill="outline" (click)="removeFromBasket(produit);refresh()" >
                    <ion-icon slot="end" name="remove-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                
              </ion-row>
            </ion-grid>
          </ion-item>
          
        </ion-list>
        
          <ion-item class="itemvalider" size="auto" color="orange">
            <ion-grid>
              <ion-row class="ion-justify-content-end ion-padding-bottom" >
                <b>Prix total : {{price}}€</b>
              </ion-row>
              <ion-row class="ion-text-end">
                
                  <ion-label> <b>Lieu de livraison (choisir): </b></ion-label>
                  <ion-select class="custom-interface" placeholder="Point de vente">
                    <ion-select-option value="bistrot">Bistrot des Gascons</ion-select-option>
                    <ion-select-option value="Café">Café des Phares</ion-select-option>
                    <ion-select-option value="Tulipe">La Vert Tulipe</ion-select-option>
                    <ion-select-option value="Ruche">Ruche qui dit Oui</ion-select-option>

                  </ion-select>

              </ion-row>
              <ion-row class="ion-justify-content-end">
                <ion-button color="dark" shape="round" class="buttonvalider">
                  Valider
                </ion-button>
              </ion-row>
            </ion-grid>
          </ion-item>

  </ion-content>
</div>
