<div class="ion-page" id="main-content">
  <ion-content>
    <ion-title class="titre ion-text-center">Le bateau de Thibault</ion-title>
    
        <ion-list *ngFor="let produit of panierList" lines="none" color="orange">
          <ion-item color="blue">
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <img class="ion-align-items-start" src="{{produit.icon}}" alt="icon produit "/>
                </ion-col>
                <ion-col class="ion-text-start">
                  <div>{{produit.name}} x {{produit.quantite}}</div>
                </ion-col>
                <ion-col size="auto" class="ion-text-end">
                  <div>{{produit.price * produit.quantite}}€</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      
  </ion-content>
</div>
