@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

ion-title
{
  padding-top: 10px;
  font-size: 25px;
  padding-bottom: 15px;
  font-family: 'Roboto';
}

ion-toolbar {
    --background: #077c76;
    --color: white;
  }