
<ion-content>
<ion-title class="titre ion-text-center">Le bateau de Thibault</ion-title>
<ion-img src="../../assets/ressources/tibo_boat.png" 
  alt="Boat"></ion-img>
<div class="ion-text-center description">
    Vente en direct de notre bateau <br>
    Produits selon la saison, livraisons sur Paris
</div>
  <div class="ion-text-center contact">
    06.63.99.99.78<br>
    lebateauthibaut@gmail.com <br>
    www.facebook.com/lebateauthibault
  </div>
<ion-grid>
<ion-row>
  <ion-col>
    <ion-button expand="block" size="large" color="orange">
      <ion-icon name="basket-outline"></ion-icon>
      <ion-label>
        Produits et promotions
      </ion-label>
    </ion-button>
  </ion-col>
</ion-row>
  
  <ion-row>
    <ion-col> <ion-button expand="block" size="large" color="orange">
      <ion-icon name="boat-outline"></ion-icon>
      <ion-label>
        Bateaux
      </ion-label>
    </ion-button></ion-col>
    <ion-col> <ion-button expand="block" size="large" color="orange">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>
        Restaurants
      </ion-label>
    </ion-button></ion-col>
    
  </ion-row>

  <ion-row>
    <ion-col> <ion-button expand="block" size="large" color="orange">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>
        Recettes
      </ion-label>
    </ion-button></ion-col>
    <ion-col> <ion-button expand="block" size="large" color="orange">
      <ion-icon name="at-outline"></ion-icon>
      <ion-label>
        Contact
      </ion-label>
    </ion-button></ion-col>
  </ion-row>
</ion-grid>

<app-footer></app-footer>
</ion-content>