<ion-header [translucent]="true">
  <ion-toolbar class="home_title">
    <ion-title center>Le bateau de Thibault</ion-title>
  </ion-toolbar>
  <ion-content class="home_par">
    Vente en direct de notre bateau
    Produits selon la saison, Livraisons sur Paris
  </ion-content>
</ion-header>
<ion-grid>
  <ion-row>
    <ion-col>Produits et Promotions</ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col>Bateaux</ion-col>
    <ion-col>Restaurants</ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col>Recettes</ion-col>
    <ion-col>Contacts</ion-col>
    
  </ion-row>
</ion-grid>